## 1. 평균구하기 (4점)
data가 dictionary 형태로 주어졌을때, 특정학생의 평균을 구하는 함수를 완성해주세요.
예를들어 아래 함수에 데이터와 흥민이라는 이름을 넣었을때 흥민이의 평균 (100+30+55)/3 = 61.666을 반환하는 함수를 완성해주세요. 
- 전체 데이터와 이름을 동시에 받는 함수입니다.

In [1]:

def get_average(data, name):
    avg = 0.0
    #TODO 
    ## hint: data[name] 이런식으로 특정 사람의 값에 접근 할 수 있습니다!
    return avg

data = {'흥민':[100,30,55], '연아':[90,80,85]}

print(get_average(data, '흥민'))
print(get_average(data, '연아'))

0.0
0.0

## 2. 가장 많이 등장하는 단어 구하기  (4점)
아래에 리스트 형태로 되어있는 단어들이 있습니다. 함수에 넣어서 가장 빈번하게 등장하는 단어를 반환해주세요
- hint: dictionary에 데이터를 counting하면서 넣으시고, value 기준 내림 차순 정렬을 해주세요.

In [2]:
def get_most_frequent_word(data):
    word = ''
    # TODO
    # hint: 아래 코드는 각각의 단어의 개수에 단순하게 1을 입력하는 방식입니다.
    # 조건문을 활용해 이미 있는 단어에는 +1을 해주세요!
     
#     counting_dict = {}
#     for ele in data:
#         counting_dict[ele] = 1
    
    # 이 부분에서 sorted와 counting_dict.items를 활용해서 가장 많이 등장한 단어를 골라주세요
    
    return word

data = ['노트북', '노트북', '이어폰', '선인장','종이컵','종이컵','신발','슬리퍼','종이컵']
print(get_most_frequent_word(data))

## 3. 이름 순서 바꾸기  (4점)

한국은 성+이름 순서로 이름을 작성하지만, 영어권 국가에서는 이름+성 순으로 이름을 작성합니다. 아래에 사람들이 이름이 리스트로 구성되어 있습니다. 각각의 이름을 이름+성 순서로 바꿔주세요!

이때, 모든 이름은 3글자에 성은 1글자라고 가정하겠습니다. 

- 변환전: ['손흥민',...]
- 변환후: ['흥민손',...]

- 참고사항: list의 경우 mutable 변수이므로, 반환을 하지 않고 인덱스로 접근 하셔서 원본을 변경하실 수 있습니다.

In [3]:

def change_name(data):
    #TODO 
    ## hint

#     for i, _ in enumerate(data):
#         data[i] = data[i] #이 부분에서 이름의 순서를 바꿔주세요!
    pass


data = ['손흥민','김연아','박세리','박찬호','김연경','류현진']

change_name(data)
print(data)

['손흥민', '김연아', '박세리', '박찬호', '김연경', '류현진']

## 4. 함수에서 함수 호출  (4점)

미국의 경우 길이 단위를 cm가 아닌 inch를 사용하곤 합니다. 아래 data에 주어진 사람들의 키를 cm_to_inch함수를 사용하여 각각 cm에서 inch로 바꿔주세요!

- 참고사항: dictionary 같은 경우에도 mutable 하기 때문에, 원본의 height를 바꿔주시면 됩니다. 추가적인 반환은 필요없습니다.

In [4]:
def cm_to_inch(val):
    return val*0.393701

def convert_height(data):
    #TODO
    pass

data = [
    {
        'name':'손흥민',
        'height': 183
    },
    {
        'name':'김연아',
        'height': 164
    },
    {
        'name':'박세리',
        'height': 168
    },
    {
        'name':'김연경',
        'height':192
    }
    
]


convert_height(data)

print(data)

[{'name': '손흥민', 'height': 183}, {'name': '김연아', 'height': 164}, {'name': '박세리', 'height': 168}, {'name': '김연경', 'height': 192}]

## 5. Class 예제  (4점)

Point라는 클래스는 x좌표와 y좌표를 둘다 갖고 있는 좌표입니다.

get_distance함수에 point1, point2를 넣었을때 두 점사이의 거리를 구하는 함수를 완성해주세요!

In [5]:
def get_distance(a,b):
    dis = 0.0
    #TODO
    return dis

class Point:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
        
point1 = Point(0,0)
point2 = Point(3,4)

dis = get_distance(point1, point2)
print(dis)

0.0