# BIG DATA ANALYSIS : Python Basic
---

In [2]:
a = 0
while a < 5:
    print(a)
    a+=1

0
1
2
3
4

In [4]:
a = 5
while a > 0:
    print(a)
    a-=1

5
4
3
2
1

In [6]:
a = 5
while a :
    print(a)
    a-=1

5
4
3
2
1

In [5]:
animals = ['사자','고양이','호랑이','강아지']

while animals:
    print(animals[0])
    del animals[0]

사자
고양이
호랑이
강아지

In [ ]:
#무한 루프 테스트
# a = 10
# while a>0:
#     print(a)

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(0,5,2):
    print(i)

0
2
4

In [10]:
## Q. range를 활용해 10 부터 0까지 가려면?

In [24]:
animals = ['사자','고양이','호랑이','강아지']
animal_cnts = [1,2,3,1]
for animal in animals:
    print(animal)

사자
고양이
호랑이
강아지

In [25]:
for index, animal in enumerate(animals):
    print(index, animal)
    print(animal_cnts[index])

0 사자
1
1 고양이
2
2 호랑이
3
3 강아지
1

In [15]:
animals = [('사자',1),('고양이',2),('호랑이',3),('강아지',1)]

for animal, cnt in animals:
    print('{}는 {}마리'.format(animal,cnt))

사자는 1마리
고양이는 2마리
호랑이는 3마리
강아지는 1마리

In [19]:
animals = {'사자':1,'고양이':2, '호랑이':3, '강아지':1}

for animal in animals:
    print(animal)

사자
고양이
호랑이
강아지

In [20]:
for animal in animals:
    print(animal, animals[animal])

사자 1
고양이 2
호랑이 3
강아지 1

In [21]:
for animal, cnt in animals.items():
    print(animal, cnt)

사자 1
고양이 2
호랑이 3
강아지 1

In [22]:
string = '안녕하세요 반갑습니다'
for char in string:
    print(char)

안
녕
하
세
요

반
갑
습
니
다

In [26]:
#List Comprehension
x = [i for i in range(0,10)]

### Q 중복된 숫자 개수 세기
- 각각의 숫자가 몇번 등장했는지, dictionary에 저장해주세요

In [ ]:
number_dict = {}
numbers = [1,2,3,3,3,1,1,5,2]
#TODO

### Q. 주소에 '서울'이 들어간 데이터만 골라내기

In [1]:
data = ['서울_남_33','대구_남_22','서울특별시_남_31','대전_여_22','대구_여_21','제주_남_13']
seoul_data =[]
#TODO

### Q. 주소에 '서울'을 '서울특별시'로 바꾸기

In [2]:
data = ['서울_남_33','대구_남_22','서울특별시_남_31','대전_여_22','대구_여_21','제주_남_13']