# BIG DATA ANALYSIS : Database Using Python
---

<img src="images/modules.png"/>

### mysql 관련 패키지 설치

In [ ]:
import sys
!{sys.executable} -m pip install mysql-connector-python

# Database

<img src="images/database.png" />

## 1. Database 관련 정보 입력

In [ ]:
HOST = ""
USER = ""
PASSWORD = ""

아래 코드는 외우거나 완벽하게 이해하지 않으셔도 됩니다! 저도 맨날 검색해서 복붙합니다 <br>
https://www.w3schools.com/python/python_mysql_getstarted.asp

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host=HOST,
  user=USER,
  password=PASSWORD
)

print(mydb)

In [ ]:
#데이터베이스와 인터랙션 하기 위한 객체
mycursor = mydb.cursor()

try:
    sql = "CREATE DATABASE yonseisb"
    mycursor.execute(sql)
except Exception as e:
    print(e)

In [ ]:
sql = "SHOW DATABASES"
mycursor.execute(sql)

for x in mycursor:
    print(x)

In [ ]:
#불필요한 연결을 끊기 위해, 아래에서 다시 연결합니다!
mydb.close()

In [ ]:
mydb = mysql.connector.connect(
  host=HOST,
  user=USER,
  password=PASSWORD,
  database="yonseigsi"
)

try:
    mycursor = mydb.cursor()
    sql = "CREATE TABLE students (name VARCHAR(255), student_number VARCHAR(255))"
    mycursor.execute(sql)
except Exception as e:
    print(e)

In [ ]:
sql = "SHOW TABLES"
mycursor.execute(sql)

for x in mycursor:
    print(x)

## MySQL에서의 CRUD

### 1. Create row

In [ ]:
sql = "INSERT INTO students (name, student_number) VALUES (%s, %s)"
#TODO
val = ("Jungwon", "2022123123")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

### 2. Read row

In [ ]:
sql = "SELECT * FROM students"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

### 3. Update row

In [ ]:
sql = "UPDATE students SET name ='중원' WHERE student_number = '2022123123'"
mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount, "record(s) affected")

In [ ]:
sql = "SELECT * FROM students"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

### 4. Delete row

In [ ]:
sql = "DELETE FROM students WHERE student_number = '2022123123'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

In [ ]:
sql = "SELECT * FROM students"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

## 쿼리 호출로 가져온 결과를 파일로 저장

In [ ]:
#CSV 관련 패키지 임포트
import csv

with open("students.csv", mode = "w") as f:
    writer = csv.writer(f)
    for x in myresult:
        writer.writerow(x)