# BIG DATA ANALYTICS PROGRAMMING
## Python Basic
---

## 1. 주피터 노트북 기본 설명
- Cell 소개 (타입)
- 실행방법
- 메모리 주의 사항
- 셀 삽입/삭제
- 수행(execution) 종료
- 커널
- 몇가지 단축키
    - Ctrl + Enter
    - Shift + Enter
    - Tab
        - indentation
        - description
        - . Tab

## 2. 기본 출력 방식

In [1]:
print("Hello World1")
print("Hello World2")

In [2]:
print(1, "Hello", True)
print(1, "Hello", True, sep="/")

1 Hello True
1/Hello/True

In [3]:
print("Hello World1", end="---")
print("Hello World2")

Hello World1---Hello World2

In [4]:
# 이것은 한줄짜리 주석입니다
# 전체를 선택하고 Ctrl+/를 눌러보세요!

"""
이것은 
여러줄을 
한번에 주석
처리하는 방식입니다.
"""
print("이것은 출력입니다")

이것은 출력입니다

* [round](https://www.w3schools.com/python/ref_func_round.asp) 함수에 관한 설명

In [5]:
#print 하는 방법
name = "중원"
major = "컴퓨터과학"
weight = 70.0215

print("안녕하세요, 저의 이름은 "+name+"이고"+" 전공은 "+major+"이고"+" 몸무게는 "+str(round(weight,2))+"kg 입니다.")
print("안녕하세요, 저의 이름은 %s이고 전공은 %s이고 몸무게는 %.2fkg 입니다." % (name, major, weight))
print("안녕하세요, 저의 이름은 {}이고 전공은 {}이고 몸무게는 {:.2f}kg 입니다.".format(name,major,weight))
print(f"안녕하세요, 저의 이름은 {name}이고 전공은 {major}이고 몸무게는 {weight:.2f}kg 입니다.")

안녕하세요, 저의 이름은 중원이고 전공은 컴퓨터과학이고 몸무게는 70.02kg 입니다.
안녕하세요, 저의 이름은 중원이고 전공은 컴퓨터과학이고 몸무게는 70.02kg 입니다.
안녕하세요, 저의 이름은 중원이고 전공은 컴퓨터과학이고 몸무게는 70.02kg 입니다.
안녕하세요, 저의 이름은 중원이고 전공은 컴퓨터과학이고 몸무게는 70.02kg 입니다.

## 3. 변수 할당
- 단일 변수 할당
- [Naming Convention](https://www.python.org/dev/peps/pep-0008/)
    - Snake Case : 🐍
    - Camel Case : 🐫
- 복수 변수 할당
- 변수 Swapping

In [6]:
a = 10
my_value = 100

is_possible = True
isPossible = True

user_name = "Jungwon"
userName = "Jungwon"

users = []

In [7]:
a, b, c = 1,2,3
print(a,b,c)

1 2 3

In [8]:
a=b=c=10
print(a,b,c)

10 10 10

In [9]:
a = 100
b = 50
print(a,b)
a, b = b, a
print(a,b)

100 50
50 100

## 4. Numeric Operation
    - 4칙연산 + alpha
    - 비교연산
    - 형변환(Type Casting)

In [10]:
# 사칙연산을 계산해봅니다.
x = 9
print(x+3)
print(x-3)
print(x*3)
print(x/3)

12
6
27
3.0

In [11]:
# 거듭제곱, 몫, 나머지
x = 9
print(x**4)
print(x//4) 
print(x%4)

6561
2
1

In [12]:
# 연산 우선순위

a = 1+2+3*10
print(a)
a = 1+(2+3)*10
print(a)

33
51

In [13]:
# 기존변수에 추가적인 연산
a = 3
a = a +1
print(a)
a += 1
print(a)

4
5

In [14]:
# 비교연산
a = 3
b = 5
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)
print(a is b)
print(a is not b)

False
True
True
False
False
True
False
True

In [15]:
a = 3.3
print(a,  type(a))

a = int(a)
print(a,  type(a))

a = float(a)
print(a,  type(a))

a = bool(a)
print(a,  type(a))

a = str(a)
print(a,  type(a))

3.3 <class 'float'>
3 <class 'int'>
3.0 <class 'float'>
True <class 'bool'>
True <class 'str'>

## 5. 변수간의 연산

In [16]:
a = 10
b = 30
print(a+b)
print(a-b)
print(a*b)
print(a/b)

40
-20
300
0.3333333333333333

In [17]:
# 타입이 다른 숫자형 변수들간의 형 변환
a = 10
b = 1.0
print(type(a), a)
print(type(b), b)
print(type(a+b),a+b)

<class 'int'> 10
<class 'float'> 1.0
<class 'float'> 11.0

### Q.1 월급은 얼마?

In [18]:
yearly_salary = 6000
monthly_salary = 0 #TODO
print("제 연봉은 {}만원이고, 월급은 {}만원 입니다".format(yearly_salary, monthly_salary))

제 연봉은 6000만원이고, 월급은 0만원 입니다

### Q.2 시급은 얼마?

In [19]:
yearly_salary = 6000
hourly_salary = 0 #TODO
print("제 연봉은 {}만원이고, 시급은 {}만원 입니다".format(yearly_salary, hourly_salary))

제 연봉은 6000만원이고, 시급은 0만원 입니다